.icon{
    font-size: 40px;
}

a{
    text-decoration: none;
}

.carchemistry{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}


@media only screen and (max-width:600px) {
    .carchemistry{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .carchemistry{
        grid-template-columns: repeat(2, 1fr);
    }
}